#casasync-map_map{
<<<<<<< HEAD
	height:500px;
	width: 500px;

	.infoWindow{
		position: relative;
		strong{
			font-size: 18px;
		}
		img{
			display: block;
		}
		a{
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 8px;
			color: #fff;
			background-color: #333;
		}
	}
}

#casasync_map_filter{
	ul {
		list-style: none;
		input[type="checkbox"]{
			display:inline;
			margin-right: 5px;
		}
	}
=======
	height:800px;
	width: 100%;
>>>>>>> FETCH_HEAD
}