.map-spinner {
  -webkit-animation: spinner 2s infinite linear;
  -moz-animation: spinner 2s infinite linear;
  -o-animation: spinner 2s infinite linear;
  animation: spinner 2s infinite linear;
}
@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spinner {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
#casasync-map_map {
  height: 500px;
  width: 100%;
}
#casasync-map_map .infowindow {
  position: relative;
  min-width: 300px;
}
#casasync-map_map .infowindow strong {
  font-size: 18px;
}
#casasync-map_map .infowindow h2 {
  margin: 5px 0;
}
#casasync-map_map .infowindow ul {
  padding: 0;
  list-style: none;
}
#casasync-map_map .infowindow ul li {
  display: none;
}
#casasync-map_map .infowindow ul li:first-child {
  display: block;
}
#casasync-map_map .infowindow ul li img {
  margin: 10px 0;
}
.casasync-map-wrap {
  position: relative;
}
.casasync-map-wrap .loader {
  display: none;
}
.casasync-map-wrap.loading .loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  text-align: center;
}
.casasync-map-wrap.loading .loader i {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
#casasync_map_filter .taxonomy_wrapper {
  padding-bottom: 10px;
}
#casasync_map_filter .taxonomy_wrapper .term-checkbox {
  padding-left: 10px;
}
#casasync_map_filter .children {
  margin-left: 10px;
}
