#casasync-map_map {
  height: 500px;
  width: 100%;
}
#casasync-map_map .infoWindow {
  position: relative;
}
#casasync-map_map .infoWindow strong {
  font-size: 18px;
}
#casasync-map_map .infoWindow img {
  display: block;
}
#casasync-map_map .infoWindow a {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  color: #fff;
  background-color: #333;
}
#casasync-map_map .infowindow {
  width: 320px;
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #BBB;
  margin-top: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
@media (min-width: 992px) {
  #casasync-map_map .infowindow {
    width: 480px;
  }
}
#casasync-map_map .infowindow h2 {
  margin: 0;
}
#casasync-map_map .infowindow .bodyContent img {
  display: block;
  max-width: 100%;
  height: auto;
}
#casasync_map_filter ul {
  padding: 0;
  list-style: none;
}
#casasync_map_filter ul li {
  font-weight: bold;
  cursor: pointer;
}
